// Colors
$white: #FFFFFF;
$black: #000000;
$light-gray: #E0E0E0;
$medium-gray: #8E8E8E;
$dark-gray: #454545;
$red: #C20606;
$green: #06C251;
$cyan: #028AB6;
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@400;700&display=swap');